<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="#">
      <i class="fas fa-motorcycle me-2"></i>getScooter
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto header-buttons">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            <i class="fas fa-tachometer-alt me-1"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clients" routerLinkActive="active">
            <i class="fas fa-users me-1"></i> Clients
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/scooters" routerLinkActive="active">
            <i class="fas fa-biking me-1"></i> Scooters
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/commandes" routerLinkActive="active">
            <i class="fas fa-shopping-cart me-1"></i> Commandes
          </a>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!auth.isLoggedIn()" routerLink="/login">
            <i class="fas fa-righ-to-bracket"></i>
            Login
          </a>
          <a class="nav-link" style="cursor: pointer;" *ngIf="auth.isLoggedIn()" (click)="logout()">
            <i class="fas fa-right-from-bracket"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-spinner></app-spinner>
<router-outlet></router-outlet>
