<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="card shadow-sm p-4 mb-4">
    <h4 class="mb-3">
        <i class="fas fa-motorcycle me-2 text-primary"></i>
        {{ client ? 'Modifier le client' : 'Ajouter un client' }}
    </h4>

    <div class="row g-3">
        <div class="col-md-6">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" formControlName="nom" placeholder="Nom" class="form-control" />
            <div class="text-danger" *ngIf="clientForm.get('nom')?.hasError('pattern') && clientForm.get('nom')?.touched">
              Seules les lettres et espaces sont autorisés
            </div>
        </div>
        <div class="col-md-6">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" formControlName="prenom" placeholder="Prénom" class="form-control" />
            <div class="text-danger" *ngIf="clientForm.get('prenom')?.hasError('pattern') && clientForm.get('prenom')?.touched">
              Seules les lettres et espaces sont autorisés
            </div>
        </div>

        <div class="col-md-6">
            <label for="phone" class="form-label">Téléphone</label>
            <input type="text" formControlName="phone" placeholder="Téléphone" class="form-control" maxlength="10"/>
            <div class="text-danger" *ngIf="clientForm.get('phone')?.invalid && clientForm.get('phone')?.touched">
              Téléphone invalide
            </div>
        </div>

        <div class="col-md-6">
            <label for="cin" class="form-label">CIN</label>
            <input type="text" formControlName="cin" placeholder="CIN" class="form-control" maxlength="12"/>
            <div  class="text-danger" *ngIf="clientForm.get('cin')?.invalid && clientForm.get('cin')?.touched">
              CIN invalide
            </div>
        </div>

        <div class="col-md-6">
            <label for="pays" class="form-label">Pays</label>
            <input type="text" formControlName="pays" placeholder="Pays" class="form-control" />
            <div  class="text-danger" *ngIf="clientForm.get('pays')?.hasError('pattern') && clientForm.get('pays')?.touched">
              Seules les lettres et espaces sont autorisés
            </div>
        </div>

        <div class="col-md-6">
            <label for="ville" class="form-label"></label>
            <input type="text" formControlName="ville" placeholder="Ville" class="form-control" />
            <div class="text-danger" *ngIf="clientForm.get('ville')?.hasError('pattern') && clientForm.get('ville')?.touched">
              Seules les lettres et espaces sont autorisés
            </div>
        </div>

        <div class="col-md-6">
            <label for="date_naiss" class="form-label">Date de naissance</label>
            <input type="date" formControlName="date_naiss" placeholder="Date de naissance" class="form-control mb-2" />
        </div>
    </div>

    <div class="mt-4 text-end">
        <button type="submit" class="btn btn-outline-primary">
            <i class="fas fa-ssave me-1"></i>
            {{ client ? 'Modifier' : 'Ajouter'}}
        </button>
    </div>
</form>
