<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
    <h2>Inscription</h2>

    <div class="form-group">
      <label for="username">Nom d’utilisateur</label>
      <input id="username" formControlName="username" />
      <div class="error" *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
        Le nom d’utilisateur est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="mdp">Mot de passe</label>
      <input id="plainPassword" type="password" formControlName="plainPassword" />
      <div class="error" *ngIf="registerForm.get('plainPassword')?.touched && registerForm.get('plainPassword')?.invalid">
        Le mot de passe est requis.
      </div>
    </div>

    <div claass="form-group">
      <label for="confirmPassword">Confirmer le mot de passe</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" />
      <div class="error" *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.hasError('passwordMismatch')" >
        Les mots de passes ne correspondent pas
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">S'inscrire</button>
    <p>Déjà insrit ?
      <a routerLink="/login">S'inscrire</a>
    </p>
  </form>
